.navbar {
    width: 100%;
    height: 100px;
    color: white;
    background: rgb(44,47,57);
    padding: 5px 50px;
    margin-bottom: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    position: static;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.navbar a,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.navbar a.active-menu-link {
    color: #38E790;
    text-decoration: underline;
}

.navbar img {
    width: 100%;
}

.imageWrapper {
    width: 300px;
}